.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  background-image: linear-gradient(
      to bottom right,
      rgba(215, 66, 60, 0.4),
      rgba(215, 66, 60, 0.1)
    ),
    url("../../Assets/covidimage3.jpeg");
  background-size: cover;
  background-blend-mode: color;
  background-color: blue;
  animation: display 3s ease-in;
  flex-wrap: wrap;
}

@keyframes display {
  from {
    height: 0vh;
  }

  to {
    height: 100vh;
  }
}

.formfield {
  display: flex;
  min-width: 300px;
  justify-content: center;
  flex: 0.3;
  padding: 1%;
  margin-bottom: 1rem;
}

.chart {
  width: auto;
  min-width: 350px;
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex: 0.8;
  /* background-color: blue; */
}

.starRank {
  min-width: 250px;
  height: 30%;
  display: flex;
  justify-content: center;
  flex: 0.3;
  padding: 1%;
  margin-bottom: 1.5rem;
}

@media (min-width: 503px) {
  .wrapper {
    height: 100vh;
  }
}
